<%- include("template/head", {tituloWeb: "Detalle" }) %>

<body>
  <form id="editar" data-id="<%= mascota.id %>">
    <input type="text" class="form-control my-5" value="<%= mascota.nombre %>" id="nombre">
    <input type="text" class="form-control my-3" value="<%= mascota.descripcion %>" id="descripcion">
    <button type="submit" class="btn btn-success">Editar</button>
  </form>
  <div class="mt-5">
    <button class="btn btn-warning" id="btn-eliminar" data-id="<%= mascota._id %>">Eliminar</button>
  </div>
</body>

</html>
<script>
  const btnEliminar = document.querySelector("#btn-eliminar");
  btnEliminar.addEventListener("click", async () => {
    console.log("click");
    const id = btnEliminar.dataset.id;
    try {
      const data = await fetch(`/mascotas/${id}`, {
        method: 'delete'
      });
      const res = await data.json();
      if (res.estado) {
        window.location.href = "/mascotas";
      } else {
        console.log(res)
      }
      console.log(res);
    } catch (error) {
      console.log(error);
    }
  });
  const formulario = document.querySelector("#editar");
  formulario.addEventListener("submit", async (e) => {
    e.preventDefault();
    console.log("submit");
    const nombre = formulario.elements["nombre"].value;
    const descripcion = formulario.elements["descripcion"].value;
    const id = formulario.dataset.id;
    try {
      const data = await fetch(`/mascotas/${id}`, {
        method: "put",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          nombre,
          descripcion
        })
      });
      const res = await data.json();
      if (res.estado) {
        window.location.href = "/mascotas";
      } else {
        console.log(res)
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>